
<%= render "banner" %>

<div class="container mt-4">

  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= list.name %>
        <%= link_to "Movies", list_path(list) %>
      </li>
    <% end %>
  </ul>

</div>
